#rowFlex {
  box-sizing: border-box;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#colFlex {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 924px;
}

#fullVideoPlayer {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  margin-top: 12px;
  padding-right: 16px;
}

#videoDetailsAndComments {
  display: inline-block;
}

#fullVideoList {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  max-width: 500px;
  margin: 28px 75px 0 0;
}