body {
  margin: 0;
}
.searchBar {
  margin-bottom: 20px;
  width: 100%;
}

#searchInputField {
  width: 100%;
}

.videoPlayer {
  margin: auto;
}

.fullWidth {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing : border-box;
}

#iframe {
  width: 100%; 
  height: 100%; 
  display: block;
}

.viewCount {
  font-size: 1.25rem;
}

.videoInfoSection {
  max-width: 100%;
  box-sizing: border-box;
  margin: auto;
}